/**
 * Icon Component Styles
 */

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 1;
  vertical-align: middle;
}

.icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.icon-error {
  background-color: var(--gray-200);
  border-radius: 2px;
  font-size: 12px;
  font-weight: 700;
  color: var(--gray-400);
}

.icon-loading {
  background-color: var(--gray-100);
  border-radius: 2px;
  animation: icon-pulse 1.5s ease-in-out infinite;
}

@keyframes icon-pulse {
  0%, 100% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
}
